body{
    background-color: cyan;
}
.copy_right_footer{
    background-color: black;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
color: whitesmoke;
position: fixed;
margin-bottom: 50px;
}
hr{
    width: 100%;
color: black;
}
canvas{
border: gray dotted;
box-shadow: 5px 5px 5px darkblue;
border-radius: 5px;
}
#INFO{
 background-color: gray;   
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: medium;
}